<h1 class="text-center"> Your Reviews </h1>
<a href="<%= new_review_path %>" class="btn btn-primary">New Review</a>
<div class="container">
    <% @reviews.each do |r|%>
    <div class="row">
      <div class="col-3 g-3">
        <img class="img-fluid" src="https://image.tmdb.org/t/p/original<%= r.movie.image_url %>" alt="Poster image">
      </div>
      <div class="col-9 g-3">
        Rating: <%= r.rating%>/10 <br>
        Content: <%= r.content%>
        <div><%= link_to "Edit", edit_review_path(r.id)%>
        </div>
        <div><%= link_to "Delete", review_path(r.id),
                      method: :delete,
                      data: {confirm: "Are you sure?"} %>
        </div>
      </div>
    </div>
    <% end%>
  </div>
</div>
