<%= simple_form_for wlm do |f| %>
  <%= f.hidden_field :user_id, value: wlm.user_id %>
  <%= f.hidden_field :movie_id, value: wlm.movie_id %>
  <div class="d-flex justify-content-center align-items-center p-0">
    <%= f.label "Priority:", class:"pe-1"%>
    <%= f.input :priority, collection: [['1', 'Low'], ['2', 'Medium'], ['3', 'High']], 
      label_method: :second, value_method: :first, label: false %>
    <%= f.button :submit, "Update", class: "btn btn-outline-light ms-3" %>
  </div>
<% end %>