<div class="container mb-5">
  <h1 class="text-center mb-5 pt-5">You have <%= current_user.watch_list_movies.count %> movies in your watchlist</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
    <% @watch_list_movies.each do |wlm|%>
    <div class="col">
      <div class="card bg-dark shadow-sm h-100">
        <div class="card-body text-center text-white p-2" style="background-color:black; font-weight:400;">
          <h6 class="text-uppercase p-0 mb-0">
            <%= wlm.movie.name %>
          </h6>
        </div> 
        <div class="card-body text-center text-white" style="font-weight:400">
              <%= simple_form_for wlm do |f| %>
                <%= f.hidden_field :user_id, value: wlm.user_id %>
                <%= f.hidden_field :movie_id, value: wlm.movie_id %>
                <%= f.label "Priority Level", class:"pb-1" %>
                <div class="d-flex justify-content-center p-0">
                  <%= f.input :priority, collection: [['1', 'Low'], ['2', 'Medium'], ['3', 'High']], 
                    label_method: :second, value_method: :first, label: false %>
                  <%= f.button :submit, "Update", class: "btn btn-outline-light ms-3" %>
                </div>
              <% end %>
            </div>  
        <div class="row g-0">
          <div class="col">
            <img class="img-fluid img-flush" src="https://image.tmdb.org/t/p/original<%= wlm.movie.image_url %>" alt="Poster image">
            
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center py-3" style="background-color:#151616;">
          <%= link_to "Movie Info", movie_path(wlm.movie.api_id), class: "btn btn-outline-info me-3"%>
          <%= link_to "- Watchlist", watch_list_movie_path(wlm.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>

