<!DOCTYPE html>
<html>
  <head>
    <title>Groovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Spicy+Rice&display=swap');
    </style>
    
  </head>

  <body>
    <div id="page-container">
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
      <div id="content-wrap"><%= yield %></div>
      <footer id="footer"><%= render "shared/footer" %></footer>
    </div>
  </body>
</html>
